.backup
.tmp
.gitconfig.private

ranger/plugins/
tmux/plugins
nvim/lazy-lock.json
cava/shaders
spicetify/Backup
spicetify/CustomApps
spicetify/Extensions
spicetify/Extracted
qbtor

*.log

# python
__init__.py
__pycache__
