/*  
 *  ░░█ █▀▀ █░░ █░░ █▄█ █▀▀ █ █▄░█
 *  █▄█ ██▄ █▄▄ █▄▄ ░█░ █▀░ █ █░▀█
 *
 *  █▀▀ ▄▀█ ▀█▀ █▀█ █▀█ █░█ █▀▀ █▀▀ █ █▄░█
 *  █▄▄ █▀█ ░█░ █▀▀ █▀▀ █▄█ █▄▄ █▄▄ █ █░▀█
 *
 *  Frederik Lind (2024)
 * 
 */

:root {
    --background-primary: #181926;
    --background-secondary: #24273a;
    --color1: #8caaee;                  /* catppuccin blue      */
    --color2: #ca9ee6;                  /* catppuccin mauve     */
    --color3: #99d1db;                  /* catppuccin sky       */
    --color4: #babbf1;                  /* catppuccin lavender  */
}

