/*
 *  █░█░█ ▄▀█ █▄█ █▄▄ ▄▀█ █▀█   █▀ ▀█▀ █▄█ █░░ █ █▄░█ █▀▀
 *  ▀▄▀▄▀ █▀█ ░█░ █▄█ █▀█ █▀▄   ▄█ ░█░ ░█░ █▄▄ █ █░▀█ █▄█
 *
 *  Frederik Lind (2024)
 *
 */

@define-color catppuccin-bck #1e1e2e;
@define-color catppuccin-blue #8aadf4;
@define-color catppuccin-red #ed8796;
@define-color catppuccin-teal #8bd5ca;
@define-color module-background #24273a;

* {
    font-family: FiraCode Nerd Font, Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
}

window#waybar {
    background-color: rgba(30, 32, 48, 0.95);
    border-bottom: 0;
    transition-property: background-color;
    transition-duration: .5s;
    opacity: 1;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: rgba(30, 32, 48, 0.75);
    border: none;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
}

/* ------------------------ workspaces ------------------------ */
#workspaces {
    margin: 8px 5px 9px 5px;
    border: 0px;
    font-size: 22px;
    background-color: @module-background;
    padding: 2px 5px 2px 5px;
    border-radius: 20px;
}

#workspaces button {
    border: 0px;
    margin: 5px 5px 5px 5px;
    padding: 0px 4px 0px 0px;
    color: @catppuccin-blue;
    transition: all 0.2s ease-in-out;
}

#workspaces button.active {
    color: @catppuccin-teal;
    font-weight: bolder;
}

#workspaces button:hover {
    color: #8bd5ca;
    /* border-radius: 10px; */
}

#window {
    padding-left: 35px;
    padding-right: 35px;
    color: #8bd5ca;
}

#custom-ranger {
    font-size: 23px;
    color: @catppuccin-blue;
    margin-left: 5px;
}

#quicklinks {
    background-color: @module-background;;
    margin: 8px 2.5px 9px 0px;
    border-radius: 20px;
    padding-right: 5px;
    padding-left: 1px;
}

#audio-light-batt {
    background-color: @module-background;;
    margin: 8px 5px 9px 0px;
    border-radius: 20px;
    padding: 5px 7px 5px 3px;
}

#systemgroup {
    background-color: @module-background;;
    margin: 8px 5px 9px 0px;
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
}

#devapps {
    background-color: #1e1e2e;
    margin: 3px 5px 4px 0px;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 3px;
}

#custom-apps {
    font-size: 28px;
    margin: 8px 0px 9px 10px;
    color: @catppuccin-blue;
    padding: 0px 22px 0px 15px;
    border-radius: 20px;
    background-color: @module-background;
}

#custom-firefox,
#custom-github,
#custom-vscode,
#custom-spotify #custom-terminal {
    font-size: 23px;
    margin: 0px 5px 0px 5px;
    color: @catppuccin-blue;
}

#custom-github,
#custom-vscode {
    margin-left: 0px;
}

#custom-spotify {
    font-size: 23px;
    color: @catppuccin-blue;
}

#custom-discord {
    font-size: 23px;
    margin-left: 5px;
    color: @catppuccin-blue;
}

#custom-neovim {
    font-size: 14px;
    color: @catppuccin-blue;
    margin: 0px 3px 0px 3px;
}

#custom-shutdown {
    font-size: 20px;
    padding-right: 8px;
    padding-left: 4px;
    margin: 8px 8px 9px 0px;
    color: @catppuccin-blue;
    background-color: @module-background;;
    border-radius: 20px;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 7px;
}

#window {
    margin: 0 0px;
}

.modules-left>widget:first-child>#workspaces {
    margin-left: 10px;
}

.modules-right>widget:last-child>#workspaces {
    margin-right: 15px;
}

#clock {
    color: @catppuccin-blue;
    margin: 8px 10px 9px 0px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: @module-background;
    border-radius: 20px;
}

label:focus {
    background-color: #000000;
}

#cpu,
#memory,
#temperature,
#memory,
#backlight,
#language {
    color: #8aadf4;
    margin: 0px 5px 0px 5px;
}

#temperature {
    color: #ca9ee6;
}

#memory {
    color: #babbf1;
}

#cpu {
    color: #8aadf4;
}

#network {
    color: #8bd5ca;
    margin: 0px 10px 0px 3px;
}

#custom-vpn {
    color: @catppuccin-blue;
    margin: 0px 5px 0px 0px;
    font-size: 18px;
}

#pulseaudio {
    color: @catppuccin-blue;
    margin: 0px 3px 0px 5px;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature.critical {
    background-color: #eb4d4b;
}
