/*  
 *  ░░█ █▀▀ █░░ █░░ █▄█ █▀▀ █ █▄░█
 *  █▄█ ██▄ █▄▄ █▄▄ ░█░ █▀░ █ █░▀█
 *
 *  For laptop sized display.
 *  Frederik Lind (2024)
 * 
 */

@import url(./colorschemes/jellyfin-catppuccin.css);

:root {
    --rounding: 10px;
}


/* =================================================================== */
/* ---------------------- Scroll bar visibility ---------------------- */

::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;  /* Internet Explorer and Edge */
    scrollbar-width: none;     /* Firefox */
}

/* =================================================================== */
/* ------------------------ Global font family ----------------------- */

html, body, h1, h2, h2, h4, h5 {
    font-family: "FiraCode Nerd Font", sans-serif;
}

/* ================================================================== */
/*  -------------------- Main tab line buttons ---------------------- */

.emby-tab-button {
  color: var(--color1) !important;
  transition: 0.15s ease-in-out;  
}

.emby-tab-button:hover {
  color: var(--color3) !important;
}

/* PageTitle - topleft corner */
.skinHeader {
    color: var(--color1) !important;
}

/* ================================================================== */
/* ------------------------ Page backgrounds ------------------------ */

#indexPage {
    background: var(--background-primary);
    overflow-y: auto;
}

#tvRecommendedPage {
    background: #181926;
    overflow-y: auto;
}

#moviesPage {
    background: #181926;
    overflow-y: auto;
}

/* ================================================================== */

#castCollapsible {
    margin-top: 200px;
}

.detailPagePrimaryContainer {
    background-color: transparent;
}

.detailPageWrapperContainer {
    background: linear-gradient(transparent, rgb(0, 0, 0, 0.85) 200px);
}

/*Rounded corners on pretty much everything-Source Monochromic*/
.formDialogHeader {
    border-top-left-radius: var(--rounding);
    border-top-right-radius: var(--rounding);
}

.formDialogFooter {
    border-bottom-left-radius: var(--rounding);
    border-bottom-right-radius: var(--rounding);
}

.cardOverlayContainer {
    border-radius: var(--rounding) !important;
}

.toast,
.paperList,
.cardContent,
.sessionNowPlayingInnerContent,
.listItem:hover,
.cardImage,
.fab,
.multiSelectCheckboxOutline,
.itemSelectionPanel,
.cardContent-button,
.cardContent-shadow,
.itemDetailImage,
.cardOverlayButton-hover,
.cardImageContainer,
.cardPadder,
.listItemImage,
.listItemImageButton,
.listItemButton,
.headerButton,
.paper-icon-button-light,
.innerCardFooter,
.blurhash-canvas,
.actionSheetMenuItem:hover,
.dialog,
.listItemIcon,
.listItem-border,
.button-flat,
.visualCardBox,
.checkboxOutline,
.emby-select-withcolor,
.chapterThumbTextContainer,
.chapterThumbContainer,
.chapterThumb,
.emby-input,
.emby-textarea,
.emby-select-withcolor,
.cardOverlayButtonIcon,
.subtitleappearance-preview.flex.align-items-center.justify-content-center {
    border-radius: var(--rounding) !important;
}

.osdPoster img {
    border-radius: var(--rounding);
    border: none;
}

.mdl-slider::-moz-range-thumb {
    border-radius: var(--rounding);
}

.mdl-slider::-ms-thumb {
    border-radius: var(--rounding);
}

.mdl-slider::-webkit-slider-thumb {
    border-radius: var(--rounding);
}

div[data-role="controlgroup"] a[data-role="button"]:first-child {
    border-bottom-left-radius: var(--rounding);
    border-top-left-radius: var(--rounding);
}

div[data-role="controlgroup"] a[data-role="button"]:last-child {
    border-bottom-right-radius: var(--rounding);
    border-top-right-radius: var(--rounding);
}

/* Make watched icon dark and transparent */
.indicator {
    background: #00000058 !important;
}

/* Make count indicator icon dark and transparent */
.countIndicator {
    /*background: #00000058;*/
    display: none;
}

.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
}

.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred.noHomeButtonHeader {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
}

.mainDrawer {
    background-color: var(--background-primary);
}

.itemTags {
    display: none;
}

/* CAST AND CREW STYLING */

/* Shrink and square (or round) cast thumnails */
#castContent .card.overflowPortraitCard.personCard.card-hoverable.card-withuserdata {
    width: 3.2cm !important;
    font-size: 90% !important;
}

#castContent .card.overflowPortraitCard.personCard.card-withuserdata {
    width: 3.2cm !important;
    font-size: 90% !important;
}

/* Size episode preview images in a more compact way */
.listItemImage.listItemImage-large.itemAction.lazy {
    height: 150px;
}

.listItem-content {
    height: 155px;
}

.secondary.listItem-overview.listItemBodyText {
    height: 61px;
    margin: 0;
}

.headerCastButton,
.headerSyncButton,
.headerHomeButton {
    display: none;
}

#itemBackdrop {
    display: none;
}

.detailLogo {
    position: absolute;
    left: 5vw;
    top: 25vw;
    width: 576px;
    height: 223.2px;
    z-index: 3;
    background-position: bottom left;
}

.layout-desktop .detailRibbon {
    height: 5em;
    margin-top: 42em;
}

.layout-desktop .detailPagePrimaryContainer {
    padding-left: 5vw;
    position: relative;
}

.backgroundContainer.withBackdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.emby-select-withcolor {
    color: inherit;
    background: #29292980;
    border: 0.07em solid #292929;
}

.layout-desktop .detailImageContainer .card {
    display: none;
}

.detailImageContainer .card {
    display: none;
}

.detailPageContent {
    padding-left: 5vw;
}

/*.infoWrapper {
    max-width: 45%;
}*/

.detailSection {
    max-width: 55%;
}

.backdropImage {
    background-position: top center;
}

.trackSelections {
    position: absolute;
    left: 58vw;
    width: 100%;
}

.infoWrapper {
    margin-top: 200px;
}

.detailPageSecondaryContainer {
    margin-top: 100px;
}

.mainDetailButtons {
    margin-top: 200px;
}

.nextUpSection {
    position: absolute;
    right: 2vw;
    margin-top: -2%;
    transform: scale(0.85);
}

.itemDetailsGroup {
    display: none;
}

#childrenCollapsible {
    margin-top: 50px;
}
