/*
*  █▀▀ █ █▀█ █▀▀ █▀▀ █▀█ ▀▄▀   █░█ █▀ █▀▀ █▀█ █▀▀ █░█ █▀█ █▀█ █▀▄▀█ █▀▀
*  █▀░ █ █▀▄ ██▄ █▀░ █▄█ █░█   █▄█ ▄█ ██▄ █▀▄ █▄▄ █▀█ █▀▄ █▄█ █░▀░█ ██▄
*
*  Frederik Lind (2024)
* 
*/

:root {
    --tab-border-radius: 6px !important;
    --NavbarWidth: 43;
    --TabsHeight: 30;
    --TabsBorder: 8;
    --NavbarHeightSmall: calc(var(--TabsHeight) + var(--TabsBorder))
    ;
}



#save-to-pocket-button {
    display: none !important;
}

.tab-icon-sound-label {
    display: none !important;
}

.tab-close-button {
    display: none;
}

.titlebar-buttonbox-container {
    display: none !important;
}

#star-button-box,
#alltabs-button,
#identity-icon-box,
#picture-in-picture-button,
#tracking-protection-icon-container,
#reader-mode-button,
#translations-button {
  display: none !important
}

/* hides active tab border */
.tab-background{
  outline: none !important;
  box-shadow: none !important;
}

#firefox-view-button {
  display: none !important;
}

.titlebar-spacer[type="pre-tabs"] {
  display: none !important;
}

#TabsToolbar {
  padding-inline-start: 0 !important;
  border-inline-start: none !important;
}

#tabbrowser-tabs {
  border: none !important;
}

