window {
  font-family: "FiraCode Nerd Font";
  font-weight: bolder;
  color: #8aadf4;
  background-color: rgba(30, 32, 48, 1);
  border: 2px solid #494d64;
  border-radius: 10px;
}

#input {
  margin: 10px 20px 20px 20px;
  background-color: #24273a;
  padding: 10px 10px 10px 10px;
  border: 0px solid transparent;
  color: #eed49f;
}

#inner-box {
  margin: 10px 20px 20px 20px;
}

#outer-box {
  margin: 20px;
}

#entry {
  padding: 5px 10px;
  color: #8aadf4;
}


#entry:selected {
  background-color: rgba(54, 58, 79, 0.3);
  outline: none;
  color: #8bd5ca;
  border-radius: 10px;
  border: 0px solid transparent;
}
