/*
*  █▀▀ █ █▀█ █▀▀ █▀▀ █▀█ ▀▄▀   █░█ █▀ █▀▀ █▀█ █▀▀ █▀█ █▄░█ ▀█▀ █▀▀ █▄░█ ▀█▀
*  █▀░ █ █▀▄ ██▄ █▀░ █▄█ █░█   █▄█ ▄█ ██▄ █▀▄ █▄▄ █▄█ █░▀█ ░█░ ██▄ █░▀█ ░█░
*
*  Frederik Lind (2024)
* 
* */
/**/
/* @-moz-document url("about:newtab"), url("about:home") { */
/*     .logo { */
/*         background-image: url("logo.png") !important; */
/*         background-size: 256px !important; */
/*         height: 256px !important; */
/*         width: 256px !important; */
/*     } */
/* } */

:root {
    --catppuccin-mauve: #c6a0f6;
    --catppuccin-yellow: #eed49f;
    --catppuccin-green: #a6da95;
    --catppuccin-teal: #8bd5ca;
    --catppuccin-sky: #91d7e3;
    --catppuccin-sappire: #7dc4e4;
    --catppuccin-blue: #8aadf4;
    --catppuccin-lavender: #b7bdf8;
    --catppuccin-text: #cad3f5;
    --catppuccin-subtext1: #b8c0e0;
    --catppuccin-subtext0: #a5adcb;
    --catppuccin-overlay1: #8087a2;
    --catppuccin-overlay0: #6e738d;
    --catppuccin-surface1: #494d64;
    --catppuccin-surface0: #363a4f;
    --catppuccin-base: #24273a;
    --catppuccin-mantle: #1e2030;
    --catppuccin-crust: #181926;
}

#preferences-body {
    background-color: #1e2030 !important;
}

.sticky-container {
    background-color: #1e2030 !important;
}

.search-wrapper .search-handoff-button,
.search-wrapper input {
    background-color: #24273a !important;
}

.search-wrapper {
    margin-top: 60px;
}

.search-wrapper .logo-and-wordmark .logo {
    background: image-set(url("https://upload.wikimedia.org/wikipedia/commons/b/b4/Firefox_Nightly_logo%2C_2019.svg"),
            url("https://upload.wikimedia.org/wikipedia/commons/b/b4/Firefox_Nightly_logo%2C_2019.svg") 2x) no-repeat center !important;
    background-size: 100px !important;
}

.wordmark {
    height: 90px !important;
    width: 200px !important;
    background-size: 180px !important;
    fill: var(--catppuccin-teal) !important;
}

.logo {
    width: 105px !important;
    height: 105px !important;
}

.personalize-button {
    color: var(--catppuccin-blue) !important;
}

@-moz-document domain("duckduckgo.com") {
    body {
        background-color: var(--catppuccin-crust) !important;
    }

    .is-link-style-exp .header-wrap {
        background-color: var(--catppuccin-crust) !important;
    }

    #react-layout {
        background-color: var(--catppuccin-crust) !important;
    }

    #search_form {
        background-color: var(--catppuccin-base) !important;
    }

    .ighRT8XtMY1IQqf0wCFy {
        background-color: var(--catppuccin-mantle) !important;
        border: 0px solid transparent !important;
    }

    .tV0DEo5a5LUrl8Piw6Ao,
    ._2iQrmxmcSVuOHpCus2L {
        background-color: var(--catppuccin-base) !important;
        border: 0px solid transparent !important;
    }
}

@-moz-document domain("www.google.com") {
    body {
        background-color: var(--catppuccin-crust) !important;
    }

    /* "nav" */
    #gb {
        background-color: var(--catppuccin-crust) !important;
    }

    ._6cXYZtr1EqqNxc8PyMrl0Qg_12 {
        background-color: var(--catppuccin-crust) !important;
    }

    /* page footer */
    .c93Gbe {
        background-color: var(--catppuccin-mantle) !important;
    }

    /* main page input */
    .RNNXgb {
        background: var(--catppuccin-mantle) !important;
        border: 0px solid transparent !important;
    }

    .sfbg {
        background-color: var(--catppuccin-crust) !important;
    }

    .N54PNb,
    #tU52Vb {
        background-color: var(--catppuccin-crust) !important;
    }

    #slim_appbar {
        background-color: var(--catppuccin-crust) !important;
    }

    #fbar {
        background-color: var(--catppuccin-mantle) !important;
    }

    .b2Rnsc,
    .vIifob {
        background-color: var(--catppuccin-mantle) !important;
    }

    #logo path {
        fill: var(--catppuccin-teal) !important;
    }

    .appbar {
        background-color: var(--catppuccin-crust) !important;
    }

    .srKDX,
    .cvP2Ce,
    .xpdopen {
        background-color: var(--catppuccin-crust) !important;
    }

    [selected].YmvwI {
        color: var(--catppuccin-teal) !important;
        border-bottom: 3px solid var(--catppuccin-teal) !important;
    }

    .YmvwI {
        color: var(--catppuccin-blue) !important;
    }
}

@-moz-document domain("chatgpt.com") {
    html,
    body {
        overflow: hidden !important;
    }

    body {
        background-color: var(--catppuccin-mantle) !important;
    }

    nav {
        background-color: var(--catppuccin-crust) !important;
    }

    .w-12,
    .h-12 {
        color: var(--catppuccin-sky) !important;
    }

    .bg-token-main-surface-primary {
        background-color: var(--catppuccin-mantle) !important;
    }

    .contain-inline-size {
        border: 0px solid transparent !important;
    }

    .dark .dark\:bg-token-main-surface-secondary {
        background-color: #24273a;
    }

    .bg-token-message-surface {
        background-color: var(--catppuccin-crust) !important;
    }

    .text-token-text-secondary {
        color: var(--catppuccin-blue) !important;
    }

    /* sidebar top index items background color - remove */
    .bg-token-sidebar-surface-primary {
        background-color: var(--catppuccin-crust) !important;
    }

    .ZnJ1aXRqdWljZQ .juice\:bg-token-sidebar-surface-primary {
        background-color: var(--catppuccin-crust) !important;
    }

    .flex.h-9.items-center {
        background-color: var(--catppuccin-crust) !important;
    }

    /* remove gradient in sidebar items - right */
    .ltr\:bg-gradient-to-l:where([dir="ltr"], [dir="ltr"] *) {
        background-image: none !important;
    }

    /* main nav bar */
    .sticky.top-0.p-3.mb-1\.5.flex.items-center.justify-between.z-10.h-14.font-semibold.bg-token-main-surface-primary {
        background-color: var(--catppuccin-mantle) !important;
    }

    /* code snippet header */
    .flex.items-center.relative.text-token-text-secondary.bg-token-main-surface-secondary.px-4.py-2.text-xs.font-sans.justify-between.rounded-t-md {
        background-color: var(--catppuccin-base) !important;
    }

    /* code snippet content container */
    .overflow-y-auto.p-4 {
        border: 0px solid transparent !important;
        background-color: var(--catppuccin-crust) !important;
    }

    /* prompt input */
    .flex.w-full.flex-col.gap-1\.5.rounded-\[26px\].p-1\.5.transition-colors.bg-\[\#f4f4f4\].dark\:bg-token-main-surface-secondary {
        background-color: var(--catppuccin-mantle) !important;
    }

    .mb-1.me-1.flex.h-8.w-8.items-center.justify-center.rounded-full.bg-black.text-white.transition-colors.hover\:opacity-70.focus-visible\:outline-none.focus-visible\:outline-black.disabled\:text-\[\#f4f4f4\].disabled\:hover\:opacity-100.dark\:bg-white.dark\:text-black.dark\:focus-visible\:outline-white.disabled\:dark\:bg-token-text-quaternary.dark\:disabled\:text-token-main-surface-secondary.disabled\:bg-\[\#D7D7D7\] {
        background-color: var(--catppuccin-teal) !important;
    }

    .relative.max-w-\[70\%\].rounded-3xl.px-5.py-2\.5.bg-\[\#f4f4f4\].dark\:bg-token-main-surface-secondary {
        background-color: var(--catppuccin-mantle) !important;
    }

    p {
        color: var(--catppuccin-subtext0) !important;
    }

    h3 {
        color: var(--catppuccin-blue) !important;
    }

    #composer-background {
        background-color: var(--catppuccin-crust) !important;
    }

    .btn-secondary {
        background-color: var(--catppuccin-mantle) !important;
        color: var(--catppuccin-blue) !important;
        border: 0px solid transparent !important;
    }

    .btn-secondary:hover {
        color: var(--catppuccin-teal) !important;
    }

    .dark\:bg-white:is(.dark *) {
        background-color: var(--catppuccin-teal) !important;
    }

    .min-h-4 {
        display: none !important;
    }

    .dark\:prose-invert:is(.dark *) :where(code):not(:where([class~="not-prose"] *)) {
        background-color: var(--catppuccin-crust) !important;
    }

    @media (min-width: 768px) {
        .md\:dark\:border-transparent:is(.dark *) {
            padding-top: 10px !important;
        }
    }

    /* warning */
    @layer utilities {
      @media (min-width: 48rem) {
        .md\:px-\[60px\] {
          display: none !important;
        }
      }
    }

    @layer utilities {
      .border-token-border-light {
        border-color: transparent !important;
      }
    }

    .dark {
      --bg-primary: #1e2030 !important;
    }

    @layer utilities {
      .dark\:bg-\[\#303030\]:where(.dark, .dark *):not(:where(.dark .light, .dark .light *)) {
        background-color: #181926 !important;
      }
    }

    @layer utilities {
      .composer-submit-button-color {
        color: #c6a0f6;
      }
    }
}
